<div class="sentence question">
    <span class="sentence__expression"><%= @question %></span>
    <span class="sentence__expressor"></span>
</div>
<div class="sentence answer">
    <span class="sentence__expressor"><em>Your coach</em></span>
</div>
<div class="sentence answer">
    <span class="sentence__expression"><strong><%= @answer %></strong></span>
</div>
<div>
    <a href="/ask" class="btn-primary text-decoration-none">Ask a new question</a>
</div>
